﻿<!DOCTYPE html>
<html>
<head>

    <title>Beagle</title>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="shortcut icon" href="assets/img/logo-fav.png">

    <link rel="stylesheet" type="text/css" href="~/admin/lib/perfect-scrollbar/css/perfect-scrollbar.min.css" />
    <link rel="stylesheet" type="text/css" href="~/admin/lib/material-design-icons/css/material-design-iconic-font.min.css" />

    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <link rel="stylesheet" type="text/css" href="~/admin/lib/jquery.vectormap/jquery-jvectormap-1.2.2.css" />
    <link rel="stylesheet" type="text/css" href="~/admin/lib/jqvmap/jqvmap.min.css" />
    <link rel="stylesheet" type="text/css" href="~/admin/lib/datatables/css/dataTables.bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="~/admin/lib/datetimepicker/css/bootstrap-datetimepicker.min.css" />
    <link rel="stylesheet" type="text/css" href="~/admin/css/style.css" />

</head>
<body>

    <div class="be-wrapper be-fixed-sidebar">


        @Html.Partial("_Navbar")
        @Html.Partial("_Sidebar")

        <div class="be-content">
            <div class="main-content container-fluid">


                @RenderBody()


            </div>
        </div>
    </div>



    @RenderSection("Scripts", required: false)

    <script src="~/admin/lib/jquery/jquery.min.js" type="text/javascript"></script>
    <script src="~/admin/lib/perfect-scrollbar/js/perfect-scrollbar.jquery.min.js" type="text/javascript"></script>
    <script src="~/admin/js/main.js" type="text/javascript"></script>
    <script src="~/admin/lib/bootstrap/dist/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="~/admin/lib/jquery-flot/jquery.flot.js" type="text/javascript"></script>
    <script src="~/admin/lib/jquery-flot/jquery.flot.pie.js" type="text/javascript"></script>
    <script src="~/admin/lib/jquery-flot/jquery.flot.resize.js" type="text/javascript"></script>
    <script src="~/admin/lib/jquery-flot/plugins/jquery.flot.orderBars.js" type="text/javascript"></script>
    <script src="~/admin/lib/jquery-flot/plugins/curvedLines.js" type="text/javascript"></script>
    <script src="~/admin/lib/jquery.sparkline/jquery.sparkline.min.js" type="text/javascript"></script>
    <script src="~/admin/lib/countup/countUp.min.js" type="text/javascript"></script>
    <script src="~/admin/lib/jquery-ui/jquery-ui.min.js" type="text/javascript"></script>
    <script src="~/admin/lib/jqvmap/jquery.vmap.min.js" type="text/javascript"></script>
    <script src="~/admin/lib/jqvmap/maps/jquery.vmap.world.js" type="text/javascript"></script>
    <script src="~/admin/js/app-dashboard.js" type="text/javascript"></script>

    <script src="~/admin/lib/datatables/js/dataTables.bootstrap.min.js" type="text/javascript"></script>
    <script src="~/admin/lib/datatables/js/jquery.dataTables.min.js" type="text/javascript"></script>
    <script src="~/admin/lib/datatables/plugins/buttons/js/dataTables.buttons.js" type="text/javascript"></script>
    <script src="~/admin/lib/datatables/plugins/buttons/js/buttons.html5.js" type="text/javascript"></script>
    <script src="~/admin/lib/datatables/plugins/buttons/js/buttons.flash.js" type="text/javascript"></script>
    <script src="~/admin/lib/datatables/plugins/buttons/js/buttons.print.js" type="text/javascript"></script>
    <script src="~/admin/lib/datatables/plugins/buttons/js/buttons.colVis.js" type="text/javascript"></script>
    <script src="~/admin/lib/datatables/plugins/buttons/js/buttons.bootstrap.js" type="text/javascript"></script>
    <script src="~/admin/js/app-tables-datatables.js" type="text/javascript"></script>
    
    <script type="text/javascript">
        $(document).ready(function () {
            //initialize the javascript
            App.init();
            //App.dashboard();
            App.dataTables();
        });
    </script>
</body>
</html>