﻿@using BlogNET
@using BlogNET.ViewModels

<div class="be-left-sidebar">
    <div class="left-sidebar-wrapper">
        <a href="#" class="left-sidebar-toggle">Dashboard</a>
        <div class="left-sidebar-spacer">
            <div class="left-sidebar-scroll">
                <div class="left-sidebar-content">
                    <ul class="sidebar-elements">
                        <li class="divider">Menu</li>
                        <li class="active">
                            <a href="index.html"><i class="icon mdi mdi-home"></i><span>Dashboard</span></a>
                        </li>
                        <li class="parent">
                            <a href="#"><i class="icon mdi mdi-face"></i><span>UI Elements</span></a>
                            <ul class="sub-menu">
                                <li>
                                    <a href="ui-alerts.html">Alerts</a>
                                </li>
                                <li>
                                    <a href="ui-buttons.html">Buttons</a>
                                </li>
                                <li>
                                    <a href="ui-panels.html">Panels</a>
                                </li>
                                <li>
                                    <a href="ui-general.html">General</a>
                                </li>
                                <li>
                                    <a href="ui-modals.html">Modals</a>
                                </li>
                                <li>
                                    <a href="ui-notifications.html">Notifications</a>
                                </li>
                                <li>
                                    <a href="ui-icons.html">Icons</a>
                                </li>
                                <li>
                                    <a href="ui-grid.html">Grid</a>
                                </li>
                                <li>
                                    <a href="ui-tabs-accordions.html">Tabs &amp; Accordions</a>
                                </li>
                                <li>
                                    <a href="ui-nestable-lists.html">Nestable Lists</a>
                                </li>
                                <li>
                                    <a href="ui-typography.html"><span class="label label-primary pull-right">New</span>Typography</a>
                                </li>
                            </ul>
                        </li>
                        <li class="parent">
                            <a href="charts.html"><i class="icon mdi mdi-chart-donut"></i><span>Charts</span></a>
                            <ul class="sub-menu">                               
                                <li>
                                    @Html.ActionLink("Category Name", "Index", "Category","Admin")
                                </li>
                            </ul>
                        </li>
                        
                        <li class="divider">Features</li>
                        <li class="parent">
                            <a href="#"><i class="icon mdi mdi-inbox"></i><span>Email</span></a>
                            <ul class="sub-menu">
                                <li>
                                    <a href="email-inbox.html">Inbox</a>
                                </li>
                                <li>
                                    <a href="email-read.html">Email Detail</a>
                                </li>
                                <li>
                                    <a href="email-compose.html">Email Compose</a>
                                </li>
                            </ul>
                        </li>
                        <li class="parent">
                            <a href="#"><i class="icon mdi mdi-view-web"></i><span>Layouts</span></a>
                            <ul class="sub-menu">
                                <li>
                                    <a href="layouts-primary-header.html">Primary Header</a>
                                </li>
                                <li>
                                    <a href="layouts-success-header.html">Success Header</a>
                                </li>
                                <li>
                                    <a href="layouts-warning-header.html">Warning Header</a>
                                </li>
                                <li>
                                    <a href="layouts-danger-header.html">Danger Header</a>
                                </li>
                                <li>
                                    <a href="layouts-nosidebar-left.html">Without Left Sidebar</a>
                                </li>
                                <li>
                                    <a href="layouts-nosidebar-right.html">Without Right Sidebar</a>
                                </li>
                                <li>
                                    <a href="layouts-nosidebars.html">Without Both Sidebars</a>
                                </li>
                                <li>
                                    <a href="layouts-fixed-sidebar.html">Fixed Left Sidebar</a>
                                </li>
                                <li>
                                    <a href="pages-blank-aside.html">Page Aside</a>
                                </li>
                            </ul>
                        </li>
                        <li class="parent">
                            <a href="#"><i class="icon mdi mdi-pin"></i><span>Maps</span></a>
                            <ul class="sub-menu">
                                <li>
                                    <a href="maps-google.html">Google Maps</a>
                                </li>
                                <li>
                                    <a href="maps-vector.html">Vector Maps</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>        
    </div>
</div>