﻿
@{
    ViewData["Title"] = "Test";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Test</h2>

<form method="post" asp-action="Create" asp-controller="blogpost">
    <div class="form-group">
        <label for="Title">Title</label>
        <input type="text" class="form-control" id="Title" placeholder="Title" asp-for="Title">
    </div>
    <div class="form-group">
        <label for="Content">Content</label>
        <textarea asp-for="Content"></textarea>
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
</form>

@section Scripts {
    <script src="~/lib/tinymce/tinymce.js"></script>
    <script src="~/js/site.js"></script>
}


